# 1.Pandas 读取数据
1. 纯文本文件
    * csv文件
    * txt文件
2. xlsx格式excel文件
3. mysql数据表

In [3]:
import pandas as pd

## 1. 纯文本文件
### 1.1 csv文件

In [6]:
fpath = './datas/ml-latest-small/ratings.csv'

In [8]:
ratings = pd.read_csv(fpath)
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [10]:
# 数据形状，（行数，列数）
ratings.shape

(100836, 4)

In [11]:
# 查看列名
ratings.columns

Index(['userId', 'movieId', 'rating', 'timestamp'], dtype='object')

In [12]:
# 查看索引
ratings.index

RangeIndex(start=0, stop=100836, step=1)

In [15]:
# 查看每列数据类型
ratings.dtypes

userId         int64
movieId        int64
rating       float64
timestamp      int64
dtype: object