# Pandas的axis参数

* axis=0或者"index"：  
  - 如果是单行操作，就指的是某一行
  - 如果是聚合操作，指的是跨行cross rows
* axis=1或者"columns"：
  - 如果是单列操作，就指的是某一列
  - 如果是聚合操作，指的是跨列cross columns
  
***按哪个axis，就是这个axis要动起来(类似被for遍历)，其它的axis保持不动***

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame(
    np.arange(12).reshape(3,4),
    columns=['A', 'B', 'C', 'D']
)

In [4]:
df

   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

## 1.单列删除

In [5]:
# axis=1
df.drop('A', axis=1)

   B   C   D
0  1   2   3
1  5   6   7
2  9  10  11

## 2.单行删除

In [6]:
df.drop(1, axis=0)

   A  B   C   D
0  0  1   2   3
2  8  9  10  11

## 3.按axis=0/index执行mean聚合操作
反直觉，输出的不是每行的结果而是每列的结果（axis=0，按行操作，最终输出列没毛病）

In [7]:
df

   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [8]:
df.mean(axis=0)

A    4.0
B    5.0
C    6.0
D    7.0
dtype: float64

## 4.按axis=0/index执行mean聚合操作

In [9]:
df

   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [10]:
df.mean(axis=1)

0    1.5
1    5.5
2    9.5
dtype: float64

## 5.举例

In [11]:
def get_sum_value(x):
    print(x)
    return x["A"] + x["B"] + x["C"] + x["D"]

df["sum_value"] = df.apply(get_sum_value, axis=1)

A    0
B    1
C    2
D    3
Name: 0, dtype: int64
A    4
B    5
C    6
D    7
Name: 1, dtype: int64
A     8
B     9
C    10
D    11
Name: 2, dtype: int64

In [12]:
df

   A  B   C   D  sum_value
0  0  1   2   3          6
1  4  5   6   7         22
2  8  9  10  11         38